---
layout: layouts/base
---
<article class="post">
  {% if date %}
  <p class="post-date"><time datetime="{{ date | isoDate }}">{{ date | date }}</time></p>
  {% endif %}
  {{ content | safe }}
  <p><a href="{{ '/posts/' | base }}">Back to posts</a></p>
</article>
